/*
  --------------
    Variables 
  --------------
*/

:root {
  --navbar-height: 7.5vh;
  --color-blue-primary: #028090;
  --color-green-primary: #1A5E63;
  --shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  --shadow-reverse: 4px 0px 4px rgba(0, 0, 0, 0.25);
  --main-card-height: 38vh;
  --main-card-width: 26vh;
  --project-item-width: 60vh;
  --project-item-height: 30vh;
}

/*
  -----------
    General 
  -----------
*/

@font-face {
  font-family: 'Baloo Bhai 2';
  src: url(../fonts/BalooBhai2-Regular.ttf);
  font-weight: 300;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
  text-decoration: none;
  list-style: none;
  font-family: 'Baloo Bhai 2';
  scroll-behavior: smooth;
  text-align: justify;
}


body {
  background-color: #333;
}


/*
  ----------
    NavBar 
  ----------
*/

.navbar {
  position: fixed;
  background-color: var(--color-blue-primary);
  height: var(--navbar-height);
  width: 100vw;
  z-index: 100;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
}

h1 {
  font-size: 1.5rem;
}

.navbar__ul {
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.navbar__menu {
  display: none;
}

.navbar__menu_close {
  background: none;
  outline: none;
  border: none;
  display: none;
}

.navbar__link {
  font-size: 1rem;
  margin: 0 1.5rem;
}

/*
  --------
    Main
  --------
*/

main {
  padding-top: 8vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  color: #fff;
  justify-content: center;
  align-items: center;
  width: 100%;
}

h2 {
  font-size: 1.75rem;
  background-color: var(--color-blue-primary);
  width: 100vw;
  text-align: center;
  margin: 3vh 0;
}

.main__section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.main__about {
  padding: 2%;
  width: 90%;
  border-radius: 1.5rem;
  display: flex;
  flex-direction: row-reverse;
  background-image: url(../img/cards/main_card_background.png);
  background-size: cover;
  font-size: 30px;
}

.main__description {
  width: 95%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 6rem;
}

.main__description h3 {
  text-align: start;
  margin-bottom: 5%;
  font-size: 1.5rem;
  padding-right: 50%;
}

.main__description p {
  font-size: 1.5rem;
  padding-left: 20%;
  padding-right: 20%;
  margin-bottom: 25%;
}

.main__img {
  background-color: var(--color-blue-primary);
  width: 53vh;
  height: 40vh;
  border-radius: 100%;
  margin-top: 8%;
  margin-right: 5%;
  box-shadow: var(--shadow);
  ;
}

.main__img img {
  height: 86%;
  width: 86%;
  border-radius: 100%;
  object-fit: cover;
  margin: 7%;
}

/*
  ---------
    Cards
  ---------
*/

.main__card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("../img/cards/card_background.png");
  background-size: cover;
  width: var(--main-card-width);
  height: var(--main-card-height);
  margin: 2rem 4rem;
  border-radius: 2.5%;
  box-shadow: var(--shadow);
}

.main__card h3 {
  font-size: 1.5rem;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
}

.main__card img {
  margin-top: 2.5rem;
  max-width: 60%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}


#projects {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-bottom: 10%;
}

#projects div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.main__project_type {
  background-color: var(--color-green-primary);
  width: 40vh;
  padding: 17px 0;
  margin: 4% 25%;
  font-size: 1.5rem;
  text-align: center;
  border-radius: 1rem;
}

/*
  -----------------
    Project Items
  -----------------
*/

.main__project_item {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem;
  border-radius: 1.5rem;
  width: var(--project-item-width);
  height: var(--project-item-height);
  cursor: pointer;
  box-shadow: var(--shadow);
  transform-style: preserve-3d;
  transition: 300ms ease-in-out;
}

.main__project_item:hover {
  background-color: rgba(0, 0, 0, 0.45);
}

.project__card {
  width: var(--project-item-width);
  height: var(--project-item-height);
  position: relative;
}

.main__project_item.rotated {
  transform: rotateY(180deg);
  transition: 300ms ease-in-out;
}

.project__face {
  width: var(--project-item-width);
  height: var(--project-item-height);
  margin: 2rem;
  position: absolute;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  overflow: hidden;
  box-shadow: var(--shadow);
  border-radius: 1.5rem;
}

.project__card--back {
  display: flex;
  padding: 1rem 2rem;
  background-color: var(--color-blue-primary);
  transform: rotateY(-180deg);
}

.project__card--back h5 {
  font-size: 1.25rem;
  padding: 1rem 0;
  width: var(--project-item-width);
  border-bottom: #fff 2px solid;
}


.project__card--back p {
  font-size: .85rem;
  text-align: justify;
}


.main__project_item img {
  object-fit: cover;
  position: absolute;
  width: var(--project-item-width);
  height: var(--project-item-height);
  border-radius: 1.5rem;
  opacity: .5;
}

.main__project_item h4 {
  background-color: var(--color-green-primary);
  width: var(--project-item-width);
  border-radius: 8px;
  height: 4vh;
  padding-top: .2%;
  text-align: center;
  font-size: 1.25rem;
}

.main__project_item span {
  width: calc(var(--project-item-width) - 45vh);
  height: 4.5vh;
  font-size: .75rem;
  border-radius: .5rem;
  background-color: var(--color-blue-primary);
  text-align: center;
  padding-top: 2%;
  margin-left: calc(var(--project-item-width) - 45%);
  opacity: .9;
}

/*
  ----------
    Footer 
  ----------
*/

footer {
  background-color: var(--color-blue-primary);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  height: 50vh;
}

.main__social_icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 5%;
  width: 10%;
  height: 10%;
}

.main__social_icon img {
  width: 40%;
}

.main__social_icon a {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main__social_icon span {
  font-size: 1rem;
}

/*
  ----------
    Mobile
  ----------
*/

@media screen and (max-width: 500px) {

  :root {
    --main-card-height: 26vh;
    --main-card-width: 18vh;
    --project-item-width: 43vh;
    --main-about-width: 43vh;
  }

  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    flex-wrap: wrap;
    height: var(--navbar-height);
  }

  h1 {
    font-size: 1.2rem;
    margin-left: 5%;
  }

  .navbar__menu {
    display: inline;
    background: none;
    outline: none;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 2rem;
  }

  .navbar__menu i {
    text-align: center;
    height: 100%;
    width: 100%;
    font-size: 3rem;
  }

  .navbar__menu_close {
    display: block;
    position: absolute;
    right: .5rem;
    top: .5rem;
    width: 4rem;
    height: 4rem;
  }

  .navbar__menu_close i {
    width: 100%;
    height: 100%;
    font-size: 3rem;
  }

  .navbar__ul {
    top: -100vh;
    position: fixed;
    display: flex;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    background-color: var(--color-blue-primary);
    justify-content: space-evenly;
    align-items: center;
    transition: .5s;
  }

  .navbar__ul--active {
    top: 0;
    transition: .5s;
  }


  h2 {
    font-size: 1.5rem;
  }

  .main__about {
    width: var(--main-about-width);
    min-height: 60vh;
    padding-top: 60%;
    flex-direction: column;
    border-radius: 2.5%;
    background-image: url(../img/cards/card_background.png);
    background-size: cover;
  }


  .main__img {
    width: 30vh;
    height: 30vh;
    position: absolute;
    top: 17vh;
    left: 30%;
  }

  .main__description {
    margin-left: 10px;
    height: calc(100% - 20vh);
    width: 90%;
  }

  .main__description h3 {
    font-size: 1rem;
    margin-bottom: 1.5vh;
    width: 100%;
  }

  .main__description p {
    font-size: .95rem;
    width: 95%;
    padding: 0 0 0 2vh;
  }

  .main__card {
    width: var(--main-card-width);
    height: var(--main-card-height);
    margin: 1rem;
  }

  .main__card h3 {
    font-size: 1.2rem;
  }

  .main__card img {
    width: 50%;
  }

  .main__project_type {
    width: 30vh;
    padding: 8px 0;
  }

  .main__project_item {
    min-width: var(--project-item-width);
  }

  .main__project_item h4 {
    margin-top: calc(80% - var(--project-item-height));
    font-size: 1.2rem;
    padding-top: 3px;
  }

  .main__project_item span {
    width: calc(var(--project-item-width) - 20vh);
    margin-left: 40%;
    padding-top: 7px;
  }

  .project__card--back h4 {
    font-size: .5rem;
  }

  .project__card--back p {
    font-size: .65rem;
  }


  footer {
    height: 25vh;
  }

  footer h2 {
    margin-bottom: 4rem;
  }

  .main__social_icon {
    margin-bottom: 15vh;
  }

  .main__social_icon a {
    width: 6rem;
  }

  .main__social_icon span {
    font-size: 1rem;
  }

}


/*
  ----------
    Tablet
  ----------
*/

@media screen and (min-width:500px) and (max-width:1600px) {

  :root {
    --main-about-width: 90%;
  }

  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    flex-wrap: wrap;
    height: var(--navbar-height);
  }

  h1 {
    font-size: 1.2rem;
    margin-left: 5%;
  }

  .navbar__menu {
    display: inline;
    background: none;
    outline: none;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 2rem;
  }

  .navbar__menu i {
    text-align: center;
    height: 100%;
    width: 100%;
    font-size: 3rem;
  }

  .navbar__menu_close {
    display: block;
    position: absolute;
    right: .5rem;
    top: .5rem;
    width: 4rem;
    height: 4rem;
  }

  .navbar__menu_close i {
    width: 100%;
    height: 100%;
    font-size: 3rem;
  }

  .navbar__ul {
    top: -100vh;
    position: fixed;
    display: flex;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    background-color: var(--color-blue-primary);
    justify-content: space-evenly;
    align-items: center;
    transition: .5s;
  }

  .navbar__ul--active {
    top: 0;
    transition: .5s;
  }

  h2 {
    font-size: .75rem;
  }

  .main__about {
    width: var(--main-about-width);
    min-height: 80vh;
    flex-direction: column;
    border-radius: 2.5%;
    background-image: url(../img/cards/card_background.png);
    background-size: cover;
  }

  .main__img {
    position: absolute;
    width: 25rem;
    height: 25rem;
    right: 2%;
    top: 17%;
  }

  .main__description {
    width: 100%;
    margin-top: 65%;
    margin-right: 200px;
  }

  .main__description h3 {
    font-size: 2rem;
    margin-bottom: 2rem;
    margin-left: 5%;
    text-align: start;

  }

  .main__description p {
    font-size: 1.5rem;
    padding-left: 10%;
    padding-right: 10%;
  }

  .main__section h2 {
    width: 100%;
    font-size: 2rem;
  }

  .main__card {
    width: 10rem;
    height: 14rem;
    margin: .5rem;
    padding-bottom: 5rem;
  }

  .main__card h3 {
    font-size: 1.5rem;
    margin-top: 3rem;
  }

  #projects {
    width: 100%;
  }

  .project__card--back p {
    font-size: 1.15rem;
  }

  .main__project_item span {
    width: 20vh;
    font-size: 1.15rem;
  }

  footer {
    height: 30vh;
  }

  footer h2 {
    font-size: 2rem;
  }

  .main__social_icon {
    width: 15%;
  }
}