/*
  --------------
    Variables 
  --------------
*/

:root {
  --navbar-height: 7.5vh;
  --color-blue-primary: #028090;
  --color-green-primary: #1A5E63;
  --shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  --shadow-reverse: 4px 0px 4px rgba(0, 0, 0, 0.25);
  --main-card-height: 50vh;
  --main-card-width: 35vh;
  --project-item-width: 70vh;
  --project-item-height: 40vh;
}

/*
  -----------
    General 
  -----------
*/

@font-face {
  font-family: 'Baloo Bhai 2';
  src: url(../fonts/BalooBhai2-Regular.ttf);
  font-weight: 300;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
  text-decoration: none;
  list-style: none;
  font-family: 'Baloo Bhai 2';
  scroll-behavior: smooth;
}


/*
  --------------
    End General 
  --------------
*/


body {
  background-color: #333;
  width: 100%;
}


/*
  ----------
    NavBar 
  ----------
*/

.navbar {
  position: fixed;
  background-color: var(--color-blue-primary);
  height: var(--navbar-height);
  width: 100vw;
  z-index: 100;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
}

h1 {
  font-size: 2rem;
}

.navbar__ul {
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar__menu {
  display: none;
}

.navbar__link {
  font-size: 1.2rem;
  margin: 0 1.5rem;
}

/*
  --------
    Main
  --------
*/

main {
  padding-top: 8vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  color: #fff;
  justify-content: center;
  align-items: center;
  width: 100%;
}

h2 {
  font-size: 3rem;
  background-color: var(--color-blue-primary);
  width: 100vw;
  text-align: center;
  margin: 6vh 0;
}

.main__section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.main__about {
  background-color: var(--color-green-primary);
  padding: 2%;
  width: 100%;
  height: 90vh;
  display: flex;
  flex-direction: row-reverse;
  font-size: 30px;
}


.main__about::before {
  content: '';
  position: absolute;
  width: 25rem;
  height: 25rem;
  left: 0;
  transform: translateY(-2.4rem);
  border-bottom-right-radius: 100%;
  border-right: 3rem solid var(--color-blue-primary);
  border-bottom: 3rem solid var(--color-blue-primary);
  box-shadow: var(--shadow);
}

.main__about::after {
  content: '';
  position: absolute;
  width: 20rem;
  height: 20rem;
  left: 0;
  transform: translateY(29rem);
  border-top-right-radius: 100%;
  border-top: 3rem solid var(--color-blue-primary);
  border-right: 3rem solid var(--color-blue-primary);
  box-shadow: var(--shadow-reverse);
}

.main__description {
  width: 95%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  z-index: 5;
}

.main__description h3 {
  margin-top: 5%;
  padding-right: 43%;
}

.main__description p {
  font-size: 2rem;
  padding-left: 20%;
  padding-right: 20%;
  margin-bottom: 25%;
}

.main__img {
  background-color: var(--color-blue-primary);
  width: 70vh;
  height: 52vh;
  border-radius: 100%;
  margin-top: 5%;
  margin-right: 5rem;
  box-shadow: var(--shadow);
  ;
}

.main__img img {
  height: 86%;
  width: 86%;
  border-radius: 100%;
  object-fit: cover;
  margin: 7%;
  z-index: 10;
}

.main__card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--color-green-primary);
  width: var(--main-card-width);
  height: var(--main-card-height);
  margin: 1.5rem;
  border-radius: 2.5%;
  box-shadow: var(--shadow);
}


.main__card h3 {
  font-size: 2rem;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
}

.main__card h3::before {
  content: '';
  position: absolute;
  width: 5rem;
  height: 5rem;
  transform: translate(-7.6rem, -4.9rem);
  border-bottom-right-radius: 100%;
  border-right: 1rem solid var(--color-blue-primary);
  border-bottom: 1rem solid var(--color-blue-primary);
  box-shadow: var(--shadow-reverse);
}

.main__card h3::after {
  content: '';
  position: absolute;
  width: 7rem;
  height: 7rem;
  transform: translate(-6.1rem,16.35rem);
  border-top-right-radius: 100%;
  border-top: 2rem solid var(--color-blue-primary);
  border-right: 2rem solid var(--color-blue-primary);
  box-shadow: var(--shadow-reverse);
}

.main__card img {
  margin-top: 2.5rem;
  max-width: 60%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  z-index: 5;
}

.main__card div {
  height: 2rem;
}

.main__card div::before {
  content: '';
  position: absolute;
  object-fit: cover;
  width: 100px;
  height: 200px;
  transform: translate(4.3rem,-10rem);
  border-radius: 150px 0 0 150px;
  background-color: var(--color-blue-primary);
  box-shadow: var(--shadow);
}

.main__card div::after {
  content: '';
  position: absolute;
  width: 7rem;
  height: 7rem;
  transform: translate(2.1rem,-23.35rem);
  border-bottom-left-radius: 100%;
  border-left: 1.5rem solid var(--color-blue-primary);
  border-bottom: 1.5rem solid var(--color-blue-primary);
  box-shadow: var(--shadow);
}


#projects {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-bottom: 10%;
}

#projects div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.main__project_type {
  background-color: var(--color-green-primary);
  width: 40vh;
  height: 7.5vh;
  padding: 17px 0;
  margin: 4%;
  font-size: 1.5rem;
  text-align: center;
  border-radius: 1rem;
}

.main__project_item {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
  border-radius: 1.5rem;
  width: var(--project-item-width);
  height: var(--project-item-height);
  margin: 1rem;
  cursor: pointer;
  box-shadow: var(--shadow);
}


.main__project_item img {
  object-fit: cover;
  position: absolute;
  width: var(--project-item-width);
  height: var(--project-item-height);
  border-radius: 1.5rem;
  opacity: .5;
}

.main__project_item h4 {
  background-color: var(--color-green-primary);
  width: var(--project-item-width);
  margin-top: calc(90% - var(--project-item-height));
  height: 4vh;
  padding-top: .2%;
  text-align: center;
  font-size: 1.25rem;
  z-index: 1;

}

.main__project_item span {
  width: calc(var(--project-item-width) - 45vh);
  height: 4.5vh;
  border-radius: .5rem;
  background-color: var(--color-blue-primary);
  text-align: center;
  padding-top: 1.25%;
  margin-left: calc(var(--project-item-width) - 45%);
  opacity: .9;
}

/*
  ----------
    Footer 
  ----------
*/

footer {
  background-color: var(--color-blue-primary);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  height: 60vh;
}

.main__social_icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 5%;
}

.main__social_icon img {
  width: 40%;
}

.main__social_icon a {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main__social_icon span {
  font-size: 1.5rem;
}

/*
  ----------
    Mobile
  ----------
*/

@media screen and (max-width:1000px) {

  .main__about::after {
    left: 0;
  }
}